###### Requirements without Version Specifiers ######`
argparse
black
datetime
flake8
matplotlib
numpy
pandas
python-dateutil
pyyaml

###### Requirements with Version Specifiers ######`
awscli == 1.18.219
